
       /* Стили для заголовка */
       header {
        text-align: center;
        padding: 40px 20px;
        background-color: #650c0c;
        color: white;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    }


    .main-title {
        font-size: 3.5em;
        font-weight: bold;
        margin: 0;
    }


    .welcome-text {
        font-size: 1.5em;
        margin-top: 10px;
    }
